{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 16, "knowledge_revision": 35, "git_revision": "5bc7877184680a7ffbe24686a9649e2caeb4d14c", "hash": "ab42687ccfa706b1a1a7b4d921c44676", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "revision_history": [{"35": "5bc7877184680a7ffbe24686a9649e2caeb4d14c"}]}