{"is_source_file": true, "file_id": 16, "git_revision": "", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "ab42687ccfa706b1a1a7b4d921c44676", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "knowledge_revision": 30}