{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 4, "knowledge_revision": 9, "git_revision": "", "hash": "acfd12a91ae66b1ee15daab94a2709bf", "format-version": 4, "code-base-name": "default", "filename": "requirements.txt", "revision_history": [{"9": ""}]}